.payment-details-credit p {
  margin: 0px;
}
.payment-details-credit .form-item-panes-payment-details-cc-store {
  width: 100%;
  overflow: hidden;
}
.page-cart-checkout-review .cart-review .odd {
  background-color: #fff !important;
}
#card_frame_holder {
  width: 100%;
  overflow: hidden;
}
#card_frame_holder .form-item-panes-payment-details-cc-store {
  float: left;
  width: 200px;
  padding-left: 10px;
}
#card_frame_holder .form-item-panes-payment-details-cc-store input {
  float: none;
  margin: 7px 0px 0px 0px;
}
#card_frame_holder .form-item-panes-payment-details-cc-store label {
  width: 120px;
}
#card_frame {
  float: left;
  overflow: hidden;
  -webkit-border-radius: 1.15em;
  border-radius: 1.15em;
  background-color: #eee;
  border: 1px solid #ddd;
  background-image: url("./images/card-front-background.png");
  background-repeat: no-repeat;
  padding: 70px 0px 10px 20px;
  width: 340px;
  height: 128px;
}
#card_frame label {
  float: none;
  font-size: 9px;
  margin: 0px;
  padding: 0px;
  width: auto;
  line-height: 9px;
}
#card_frame select,
#card_frame input {
  margin: 2px 2px 10px 2px;
}
#card_frame .form-item-panes-payment-details-cc-exp-month {
  padding-left: 54px;
}
#card_frame #edit-panes-payment-details-cc-exp-year {
  margin-top: 0px;
}
#card_frame .form-item-panes-payment-details-cc-cvv {
  float: right;
  margin: -12px 5px 0px 0px;
}
#card_frame .form-item-panes-payment-details-cc-cvv .field-suffix {
  font-size: 10px;
}
#card_frame .form-item-panes-payment-details-cc-cvv input {
  margin-bottom: 2px;
}
#card_frame .form-item-panes-payment-details-cc-cvv img {
  display: none;
}
